[Unit]
Description=TOJI CHK Telegram Bot
After=network.target

[Service]
Type=simple
User=damncj
WorkingDirectory=/home/damncj/dhsd
ExecStart=/home/damncj/dhsd/venv/bin/python3 /home/damncj/dhsd/main.py
Restart=always
RestartSec=10
StandardOutput=append:/var/log/toji-bot.log
StandardError=append:/var/log/toji-bot-error.log

[Install]
WantedBy=multi-user.target
